.brdcrumb {
     display: flex;
     flex: 1;
 }
 
 .custom-breadcrumb a {
     color: #0079B8;
 }
 
 @media screen and (max-width: 768px) {
     .brdcrumb {
         flex-direction: column;
         align-items: flex-start;
     }
 
     .custom-breadcrumb a,
     .custom-breadcrumb,
     .ant-breadcrumb-link {
         font-size: 10px; 
     }
 }
 