.executivesummary{

    .card-title {
        color: #2E383F;
        font-family: Metropolis;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 11px;
      }
      .card-content1{
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      .card-content2 , .card-content3, .card-content4{
        color: #333;
        font-family: Metropolis;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 11px; 
        height: 204px;
        width: 340px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      
      .card-content4{
        color: #60B515;
      }
}