.table {
  margin-top: -30px;
  width: 100%;
  overflow-x: auto; /* Yatay kaydırmayı sağlar */
}

.ant-table-cell {
  padding: 4px;
  font-size: 10px;
  color: #565656; 
}

.projectedSavings {
  background-color: #abf25b33;
}

.recommendation {
  background-color: #abf25b33;
}

@media screen and (max-width: 768px) {
  .table {
    overflow-x: hidden; 
  }

  .ant-table {
    overflow: auto;
  }

  .ant-table-content {
    overflow: auto;
  }

  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    white-space: nowrap;
    width: auto !important; 
  }
  

  .ant-table-cell {
    font-size: 5px; 
  }
}

